<header class="header">
    <div style="display: flex; align-items: center;">
        <h1 style='margin:0;'><%= title %></h1>
        <div style="margin: 0 0 0 auto;">
            <form action="/search" method="get" style="display: flex; align-items:center;">
                <input type="text" name="q" placeholder="タイトル検索" style="margin:0;">
                <input type="submit" value="検索" style="margin:0 0 0 5px;">
            </form>
        </div>
    </div>
    <nav class="header-nav">
        <ol>
            <li><a href="/">ホーム</a></li>
            <li><a href="/#create-thread">スレッドを立てる</a></li>
        </ol>
    </nav>
</header>