<header class="header">
    <div class="header-content">
        <h1><%= title %></h1>
        <div class="header-search-form-div">
            <form action="/search" method="get" class="header-search-form">
                <input type="text" name="q" placeholder="タイトル検索" style="margin:0;">
                <input type="submit" value="検索" style="margin:0 0 0 5px;">
            </form>
        </div>
    </div>
    <nav class="header-nav">
        <ol>
            <li><a href="/">ホーム</a></li>
            <li><a href="/#create-thread">スレッドを立てる</a></li>
        </ol>
    </nav>
</header>