<!DOCTYPE html>
<html lang="ja">
<head>
<%= render('_head', { title: 'エラー' }) %>
</head>
<body>
	<%= render('_header', { title: 'エラー'), return_btn: true }) %>
    <p><b><%= error_message[type] %></b></p>
</body>
</html>