* {
    margin: 0;
    padding: 0;
}

.header {
    padding: 1.5rem;
    padding-bottom: 0;
}

.main {
    padding: 1.5rem;
}

.sections {
    margin-bottom: 15px;
}

.form-input {
    width: 280px;
}

.thread {
    margin: 15px 0;
}

.thread-link {
    display: block;
    text-decoration: none;
    color: blue;
}

.thread-link:hover {
    color: skyblue;
}

.thread-content {
    display: flex;
    align-items: center;
    border-bottom: 2px solid;
}

.thread-title {
    font-size: 20px;
}

.reply-sum {
    margin-left: 5px;
}

.thread-datetime {
    width: fit-content;
    display: block;
    margin: 0;
    margin-left: auto;
}

#thread-title {
    font-size: 22px;
    margin-bottom: 5px;
}

.reply {
    padding: 10px 0;
    border-bottom: 1px solid;
}

.reply-header {
    display: flex;
    align-items: center;
}

.reply-name {
    font-weight: bold;
    margin-left: 5px;
    font-size: 18px;
}

.reply-datetime {
    margin-left: 10px;
    font-size: 15px;
}

.reply-content {
    margin-left: 1rem;
    font-size: 18px;
}

.reply-btn {
    width: fit-content;
    display: block;
    margin: 0 0 0 auto;
    padding: 3px 8px;
    color: var(--links);
}

.reply-btn:hover {
    cursor: pointer;
    text-decoration: underline;
}