* {
    margin: 0;
    padding: 0;
}

.header {
    padding: 1rem;
    padding-bottom: 0;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-content h1 {
    margin: 0;
}

.header-search-form-div {
    margin: 0 0 0 auto;
}

.header-search-form {
    display: flex;
    align-items: center;
}

.header-nav ol {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.header-nav li {
    margin: 0 10px;
}

.main {
    padding: 1.5rem;
}

.sections {
    margin-bottom: 15px;
}

.form-input {
    width: 280px;
}

.thread {
    margin: 15px 0;
}

.thread-link {
    display: block;
    text-decoration: none;
    color: blue;
}

.thread-link:hover {
    color: orange;
}

.thread-content {
    display: flex;
    align-items: center;
    border-bottom: 2px solid;
}

.thread-title {
    display: inline-block;
    width: 80%;
    font-size: 20px;
}

.reply-sum {
    margin-left: 5px;
}

.thread-datetime {
    width: fit-content;
    display: block;
    margin: 0;
    margin-left: auto;
}

#thread-title {
    font-size: 22px;
    margin-bottom: 5px;
}

.reply {
    padding: 10px 0;
    border-bottom: 1px solid;
}

.reply-header {
    display: flex;
    align-items: center;
}

.reply-name {
    font-weight: bold;
    margin-left: 5px;
    font-size: 18px;
}

.reply-datetime {
    margin-left: 10px;
    font-size: 15px;
}

.reply-content {
    margin-left: 1rem;
    font-size: 18px;
}

.reply-btn {
    width: fit-content;
    display: block;
    margin: 0 0 0 auto;
    padding: 3px 8px;
    color: var(--links);
}

.reply-btn:hover {
    cursor: pointer;
    text-decoration: underline;
}

@media screen and (max-width: 480px) {
    .header-content {
        display: block;
        text-align: center;
    }

    .header-search-form {
        justify-content: center;
        margin: 5px 0;
    }

    .header-nav ol {
        justify-content: center;
    }

    .thread-content {
        display: block;
    }

    .thread-title {
        width: 100%;
    }
}